<div id="content">
  <div id="menu">
    <button id="page1">Page 1</button>
    <button id="page2">Page 2</button>
    <!-- Aggiungi altri pulsanti secondo necessità -->
  </div>
  <div id="page-content">
    <!-- Il contenuto dinamico verrà caricato qui -->
  </div>
</div>
