body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header h1 {
    margin: 0;
}

#auth-forms form {
    display: inline;
}

#auth-forms input, #auth-forms button {
    margin-left: 5px;
}

#menu-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#container {
    display: flex;
}

#sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 15px;
    display: none; /* Nascondi il menu laterale per impostazione predefinita */
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.menu-block {
    margin-bottom: 20px;
}

#sidebar h3 {
    background-color: #ddd;
    padding: 10px;
    margin: 0;
}

#content {
    flex-grow: 1;
    padding: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
