<h2>Register</h2>
<form id="register-form" class="register-form" action="/api/users/register" method="post">
  <input type="text" name="username" class="register-input" placeholder="Username" required>
  <input type="password" name="password" class="register-input" placeholder="Password" required>
  <button type="submit" class="register-button">Register</button>
</form>
<div id="registration-result" class="register-result"></div>
<script src="views/js/register.js"></script>
